*{
    margin: 0;
    padding: 0;
}


body {
	text-align: center;
}
.wrapper {
	width: 70vw;
	margin: 0 auto;
	
}
header {
	height: 6vw;
	background: #0c0c0c;
	width: 100%;
	z-index: 10;
	/* position: fixed; */
}
.logo {
	width: 30%;
	float: left;
	line-height: 6vw;
}
.logo a {
	text-decoration: none;
	font-size: 5vw;
	font-family: poppins;
	color: #fff;
	letter-spacing: .3vw;
}
nav {
	float: right;
	line-height: 6vw;
    
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: .1vw;
	font-size: 1.4vw;
	margin: 0 1vw;
	color: #fff;
	transition: .1s;
}
.banner-area {
	width: 100%;
	height: 40vw;
	position: static;
	top:0vw;
	background-image: url(https://wallpaperaccess.com/full/263001.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 5vw;
	font-family: poppins;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.banner-area h3{
	color: #fff;
	font-size: 4vw;
	margin-top: 6vw;

}
.content-area {
	width: 100%;
	position: relative;
	top: 5vw;
	background: #f8f8f8;
	height: 30vw;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: .5vw;
	padding-top: 1vw;
	font-size: 4vw;
	margin: 0;
    margin-left: 1vw;
	
}
.content-area p {
	padding: 2vw 0vw;
	font-family: poppins;
	line-height: 2.4vw;
	font-size: 2vw;
}






/* ----------------------- */
body .rotate {
	/* background: rgb(54, 83, 83); */
	
	background-image: url(https://wallpapercave.com/wp/wp6347078.png);
    display: flex;
}
.rotating-box {
	width: 40vw;
	height: 40vw;
	margin: 5vw auto;
	perspective: 80vw;
}
.single-rb {
	width: 40vw;
	height: 40vw;
	animation: rotate 15s linear infinite;
	transform-style: preserve-3d;
	margin-top: 10vw;
}
.single-rb img {
	height: 100%;
	width: 100%;
}
.single-rb div {
	position: absolute;
	width: 20vw;
	height: 20vw;
   
}
.front-side {
	transform: translateZ(10vw);
}
.back-side {
	transform: rotateY(180deg) translateZ(10vw);
}
.left-side {
	transform: rotateY(-90deg) translateX(-10vw);
	transform-origin: left;
}
.right-side {
	transform: rotateY(90deg) translateX(10vw);
	transform-origin: right;
}
.top-side {
	transform: rotateX(-90deg) translateY(-10vw);
	transform-origin: top;
}
.bottom-side {
	transform: rotateX(90deg) translateY(10vw);
	transform-origin: bottom;
}
@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* -------------new--- */

body {
	background: #f5f5f5;
	background-image: url();
	font-family: poppins;
}
.container h1 {
	font-size: 4vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: bold;
	color: #101312;
}
.container h2{
	font-size: 4vh;
}
.container {
	padding-top: 8%;
}
.single-team {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}
.team-img {
	width: 100%;
	height: 250px;
	padding: 20px;
	text-align: center;
	transition: all .5s ease;
}
.one {
	background-image: url(https://www.techadvisor.com/cmsdata/features/3645914/counter_strike_global_offensive_thumb800.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.two {
	background-image: url(https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/pubg_game_660_301020110305.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.three {
	background-image: url(https://cdn2.unrealengine.com/Fortnite%2Fblog%2Fseason-5%2FBR05_Social_-Launch_Hero-Line-Up-1920x1080-2117b3d382b87887271a17a78122b7316ff0c1c0.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.four {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/f/fd/Call_of_Duty_-_Infinite_Warfare_%28promo_image%29.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.five {
	background-image: url(https://assets.vg247.com/current//2015/08/league_of_legends2-600x337.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.six {
	background-image: url(https://www.wowchakra.com/wp-content/uploads/2020/07/SC10ANIVERSARIO.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.team-text {
	position: absolute;
	width: 100%;
	height: 250px;
	padding: 20px;
	text-align: center;
	transition: all .5s ease;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background-color: #09090f;
	/* background-color: ; */
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transform: translateX(110px) rotateY(-90deg);
	color: #19D28F;
}
.team-text h2 {
	text-transform: uppercase;
	font-weight: 700;
}
.team-text h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}
.team-text p {
	line-height: 2;
}
.img-area {
	position: relative;
	top: 80px;
	transform: translateX(-50%);
}
.single-team:hover .team-img {
	opacity: 0;
	transform: translateX(-110px) rotateY(90deg);
}
.single-team:hover .team-text {
	opacity: 1;
	transform: rotateY(0);
}







/*---------------------------footer start------------------------------*/
    

footer{
	background: #212121;
	height: 40vh;
	margin-top: 3vw;
	padding: 2vw 3vw;
}
footer .container007{
 width: 100%;
 max-width: 110vw;
 margin: 0 auto;  
 display: flex;
 padding-top: 2vw ;
 align-items: flex-start;
 justify-content: space-between;
 flex-wrap: wrap;
}
footer .ftr h3{
	font-size: 1.9vw;
	margin-bottom: 1.2vw;
	color: #fff;
}
footer .content{
	list-style: none;
	font-size: 1vw;
}
footer .content a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	opacity: 0.6;
	line-height: 1.4vw;
	transition: 0.2s ease opacity;
}
footer .content a:hover{
	opacity:1;
}
footer .ftr{
	flex-basis: 18%;
}
form{
	display: flex;
	align-items: center;
	width: 100%;
}
input{
	border: none;
	outline: none;
	padding: .5vw;
	margin: 1vw 0;
	background: #f5f5f5;
}
.button input{
	background: rgb(243, 3, 3);
	color: #fff;
	transition: 0.2s ease background;
}
.button input:hover{
	background: #000;
}

.element {
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 5vh 10vw;
	
	justify-content: space-between;
}


.element  h2 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-left: 14vw;
	margin: 20px;
}    
.element .clicks a{
	padding: 20px;
	margin-left:140px ;
	color: #f5f5f5;
	text-decoration: none;
}

/*---------------------------footer end------------------------------*/

/* --------------------top teams start---------------------------- */
.titl {
	
	font-size:6vw;
	margin-top: 2vw;
	margin-bottom: 3%;
	display: inline;
	
}
#myskills{
	background: radial-gradient(rgb(224, 124, 9) ,#f7554a);
}
#myskills .skill {
	width: 10%;
	float: left;
	text-align: center;
	margin-left: 5%;
	background: radial-gradient(rgb(233, 226, 225) ,#ff1515);
}


#myskills .skill img {
	width: 100%;
	transition-property: transform;
	transition-duration: 1s;
}

#myskills .skill img:hover {
	transform: rotate(360deg);
}

#myskills .skill h1 {
	font-size: 30vw;
}
#myskills .skill h3{
	margin-top: 5vw;
	margin-bottom: 3vw;
	font-size: 2vw;
}
/* --------------------top teams end---------------------------- */

/* -----------------our sponsors start----------------- */
.title {
	
	font-size:8vw;
	color: #67d4ac;
	margin-top: 4vw;
	margin-bottom: 3%;
	display: inline;
	
}
#myis{
	/* background: radial-gradient(rgb(214, 210, 210) ,#000000); */
	height: 20%;
	background-image: url(https://i.pinimg.com/originals/ec/57/2e/ec572e2991ebdb20feda2b29db7ba245.png);
}
#myis .ill {
	width: 10%;
	float: left;
	text-align: center;
	margin-left: 5%;
	/* background: radial-gradient(rgb(233, 226, 225) ,#ff1515); */
}


#myis .ill img {
	width: 100%;
	transition-property: transform;
}

#myis .ill h1 {
	font-size: 30vw;
}
#myis .ill h3{
	margin-top: 5vw;
	margin-bottom: 3vw;
	font-size: 2vw;
}

/* -----------------our sponsors end----------------- */
/* ------------------register start-------------------- */
.register{
	background-image: url();
	background: #f7554a;
	height: 20vw;
	background-image: url();
	margin-bottom: 15vw;
}
.wrap{
	max-width: 25vw;
	width: 100%;
	height: 40vw;
	background: #fff;
	padding: 6vw 4vw;
	position: relative;
	margin-top: 15vw;
	/* margin-bottom: 10vw; */
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 2vw;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/909/594/386/tom-clancy-s-the-division-2-video-game-art-game-poster-pc-gaming-hd-wallpaper-thumb.jpg);
  }
  
  .wrap .title{
	margin-bottom: 2vw;
	text-align: center;
	font-size: 2.4vw;
	font-weight: bold;
	color: #eef1ef;
  }
  
  .wrap .social_media{
	display: flex;
	justify-content: center;
	margin-bottom: 2vw;
  }
  .wrap .social_media i{
	  font-size: 3vw;
	  text-align: center;
  }
  .wrap .social_media .item{
	margin: 0 .3vw;
	width: 4vw;
	height: 4vw;
	line-height: 3vw;
	text-align: center;
	border: 2vw solid #f37f7f;
	border-radius: 50%;
	cursor: pointer;
	color: #e0bb16;
	transition: all 0.5s ease;
	
  }
  
  .wrap .social_media .item:hover{
	border: .5vw solid #b7b8b0;
	color: #06fdfd;
  }
  
  .wrap .form .input_field{
	position: relative;
	
  }
  
  .wrap .form .input_field .input{
	width: 100%;
	padding: 1vw;
	padding-left: 1vw;
	border: none;
	background: #eeeeee;
  }
  
  .wrap .form .btn{
	width: 90%;
	margin: 2vw auto 0;
	background: #3aaf9f;
	text-align: center;
	padding: 0;
	border-radius: 25vw;
  }
  
  .wrap .form .btn a{
	color: #fff;
	font-size: 1vw;
  }
  
  .wrap .form .input_field i{
	position: absolute;
	top: 1vw;
	left: 1vw;
	font-size: 1vw;
	color: #1d2120;
  }
  
  ::-webkit-input-placeholder { 
	color: #080808;
  }
  ::-moz-placeholder { 
   color: #1d2120;
  }
  :-ms-input-placeholder { 
	color: #1d2120;
  }
  
/* ------------------register end-------------------- */

  /* -----------------------------swiper start------------------------------------------------------- */

  .swiper-container {
    width: 100%;
    padding-top: 7vw;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: rgb(2, 2, 2);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006) ;  /* for bottom reflection */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
	height: 100%;
  }
  .artwork h1{
      color: black;
      text-align: center;
  }
/* -----------------------------swiper end------------------------------------------------------- */